.movie-reviews {
  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  &__avatar-container {
    font-weight: bold;
    margin-bottom: 12px;
    img {
      border-radius: 50%;
      margin-right: 12px;
      height: 50px;
    }
  }

  &__rating-container {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &__review-content {
    white-space: pre-line;
  }
}